<h1>Edit Article</h1>
<%= link_to 'Back', articles_path %>
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>

<%= render 'form', article: @article %>
